<!-- Wrapper-->
<div id="wrapper">

    <!-- Navigation -->


    <!-- Page wraper -->
    <!-- ng-class with current state name give you the ability to extended customization your view -->

    <div  id="{{txtId}}" class="gray-bg dashboard-1 {{landingpageclass}}">


        <!-- Page wrapper -->


        <div class="row  border-bottom white-bg dashboard-header dashoboard-main-view">

            <!-- Main view  -->
            <router-outlet></router-outlet>

        </div>

        <!-- Footer -->
        <footer *ngIf="isUserLogin"></footer>

    </div>
    <!-- End page wrapper-->

</div>
<!-- End wrapper-->

