<div class="landing-page registration-page ng-scope" style="position:relative;">
    <div class="navbar-wrapper" style="margin-top: 0; position: static">
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation" style="position: static; padding-bottom: 5px;">
            <div class="container">

                <div id="navbar" class="goal-animation navbar-collapse collapse in" aria-hidden="false">
                    <div class="navbar-header page-scroll">
                        <button aria-controls="navbar" type="button" data-target="#navbar" class="navbar-toggle">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
                        <a routerLink="/index"><img class="logo_img" src="assets/img/landing/school.png" alt="laptop"></a>
                    </div>
                    
                    <ul class="nav navbar-nav navbar-right">
                        <li><button type="submit" class="btn btn-primary block full-width m-b getstarted_button" routerLink="/login">GET STARTED</button></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>

    <form class="form-horizontal cform-1" #confirmMobileForm="ngForm">

        <div class="get-started-form-wrapper">
            <label class="confirm-mobile">Your OTP Code is: {{otpCode}}</label>
            <div class="group inner-addon left-addon">
                <i class="glyphicon glyphicon-earphone"></i>
                <input name="phoneNo" type="text" id="phoneNo" class="form-control input-material" [(ngModel)]="verifyUser.userid" #phoneNo="ngModel"
                    required disabled/>
                <span class="bar"></span>
                <label class="label-material">Phone number</label>
            </div>

            <div *ngIf="phoneNo.errors && (phoneNo.dirty || phoneNo.touched)">
                <span *ngIf="phoneNo.errors.required" class="danger">Please enter phone number.</span>
                <span *ngIf="phoneNo.errors.pattern" class="danger">Please enter valid phone number.</span>
            </div>


            <div class="group inner-addon left-addon">
                <i class="fa fa-building" aria-hidden="true"></i>
                <input name="code" type="text" id="code" class="form-control input-material" [(ngModel)]="verifyUser.code" #code="ngModel"
                    required/>
                <span class="bar"></span>
                <label class="label-material">Code</label>
            </div>

            <div *ngIf="code.errors && (code.dirty || code.touched)">
                <span *ngIf="code.errors.required" class="danger">Please enter code.</span>
                <span *ngIf="code.errors.pattern" class="danger">Please enter valid code.</span>
            </div>


            <div>
                <button type="submit" class="btn block button-get-started" (click)="VerifyUserPhone(verifyUser)"> CONFIRM PHONE NUMBER </button>
                <div class="privacy-policy"><a (click)="resendCode(verifyUser)" class="block table-content"> Resend code </a></div>
            </div>

        </div>
    </form>
</div>